 body {
            font-family: Arial, sans-serif;
            font-size: 14px;
            text-align: center;
            background-color: #f4f4f4;
        }
        .gift-container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            display: none;

        }
        h1 {
            margin-bottom: 20px;
        }
        .row {
            display: flex;
            justify-content: center;
        }
        .col {
            flex: 0 0 calc(33.33% - 20px);
            margin: 10px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            cursor: pointer;
            height: 100px;
            text-align: center;
            background-color: #d9d9d9;
            position: relative;
        }
        .col img {
            max-width: 100%;
            max-height: 100%;
            display: block;
            margin: 0 auto;
        }
        .col.opened {
            background-color: #32a2b1;
            color: #fff;
        }
